[submodule "home/oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "rofi-themes-collection"]
	path = rofi-themes-collection
	url = https://github.com/lr-tech/rofi-themes-collection.git
