let mapleader=" "
set number relativenumber
set scrolloff=5
set ignorecase
set smartcase
set incsearch
set hlsearch

set ideaput
set ideajoin
set ideamarks
set ideawrite=file

map <leader>y "+y
map <leader>p "+p
map <leader><CR> :nohls<CR>
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dn <Action>(StepOver)
map <leader>di <Action>(StepInto)
map <leader>do <Action>(StepOut)
map <leader>dc <Action>(Resume)
map <leader>de <Action>(Stop)
map <leader>k <Action>(QuickEvaluateExpression)
map <leader>r <Action>(RenameElement)
vmap <leader>/ <Action>(CommentByLineComment)
map <leader>/ <Action>(CommentByLineComment)
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
