let mapleader = ","
let g:mapleader = ","
map <silent> <leader><cr> :noh<cr>

set so=7
set hlsearch
set ignorecase
set smartcase
set incsearch
set number relativenumber

inoremap jj <Esc>
"inoremap <C-,> <Esc>A;<Enter>
"inoremap <C-.> <Esc>A<Space>{<Enter>

nnoremap ö [
nnoremap ä ]
nnoremap Ö {
nnoremap Ä }
nnoremap ß /
vnoremap <space> :action CommentByLineComment<CR>
noremap <leader>c "+y
noremap <leader>v "+p

" Better indentation
vnoremap < <gv
vnoremap > >gv

" Remove trailing whitespaces
autocmd BufWritePre * %s/\s\+$//e

"map <space> /
"map <c-space> ?
