let mapleader = ","
let g:mapleader = ","
map <silent> <leader><cr> :noh<cr>

set so=7
set hlsearch
set ignorecase
set smartcase
set incsearch
set number relativenumber

inoremap jj <Esc>
inoremap <C-,> <Esc>A;<Enter>
inoremap <C-.> <Esc>A<Space>{<Enter>

nnoremap ö [
nnoremap ä ]
nnoremap Ö {
nnoremap Ä }
nnoremap ß /
nnoremap <leader>c<space> :action CommentByLineComment<CR>

" Better indentation
vnoremap < <gv
vnoremap > >gv

" Remove trailing whitespaces
autocmd BufWritePre * %s/\s\+$//e
